<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <link rel="stylesheet" href="shopping.css">

        <title> My Shopping List</title>
    </head>
    <body ng-app="myShoppingList">
       <div ng-controller="myCtrl">
         <header>
           <h3>My Shopping List</h3>
         </header>
         <div ng-app="myShoppingList" ng-controller="myCtrl">
          <ul>
            <li ng-repeat="x in products">{{x}}
             <span ng-click="removeItem($index)" class='left'>&times;</span>
            </li>
          </ul>
          <div class='section'>
          <input placeholder="Add shopping items here" ng-model="addMe">
          <button ng-click="addItem()">Add</button>
          </div>
          <p>{{errortext}}</p>
         </div>
       <script src="app.js"></script>

       <!-- Controller -->
       <script src="myCtrl.js"></script>
    </body>
</html>